@use 'variables' as *;

body 
{
    @include monda;
    background-color:$black;
    color:#FFFFFF;
    font-size:21px;
    font-weight:400;
    overflow-x:hidden;
}
h1 
{
    @include azo;
    color:$brightPink;
    font-size:130px;
    line-height:1;
}
h2 
{
    @include azo;
    font-size:67px;
    line-height:62px;
}
h3 
{
    @include mont;
    font-size:56px;
    line-height:1.0;
    letter-spacing:2.8px;
}
h4 
{
    @include mont;   
    font-size:32px;
    line-height:1.2; 
}
nav 
{
    a.active, a:hover 
    {
        color:$brightPink;
    }
}
p, ul li, ol li 
{
    font-size:16px;
}
.larger-text 
{
    font-size:21px;
}
a{
    @include transition;
}
.btn 
{
    position:relative;
    font-weight:700;
    border-radius:370px;
    border:1px solid $brightPink;
    padding:21px 49px 19px 16px;
    line-height:1;

    .diamond 
    {
        @include transition;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        right:16px;
        width:24px;
        height:24px;

        svg 
        {
            vertical-align: top;
            display:inline;
            width:100%;
            height:auto;

            path 
            {
                @include transition;
            }
        }
    }
}
.btn:hover 
{
    background-color:$brightPink;
    color:$black;

    .diamond 
    {
        @include jiggle;

        svg path
        {
            fill:$black;
        }
    }
}
.pink 
{
    color:$brightPink;
}
.deco-line
{
    width:180px;
    max-width:100%;
    height:1px;
    background-color:#FFFFFF;
    margin:0 auto 0 auto;
}
form 
{
    input[type="text"], input[type="email"], input[type="password"], input[type="tel"]
    {
        background-color:#FFFFFF;
        box-shadow: 0px 6px 12px -6px rgba(255, 255, 255, 0.12), 0px 8px 24px -4px rgba(255, 255, 255, 0.08);
        font-size:16px;
        color:$black;
        outline:none;
    }
    input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder, input[type="tel"]::placeholder 
    {
        color:$black;
    }
    button[type="submit"]
    {
        @include mont;
        @include transition;
        background-color:$brightPink;
        color:#FFFFFF;
        font-weight:900;
        border-radius:0;
        border:1px solid #FFFFFF;
        line-height:1;
        font-size:16px;
    }
}
header 
{
    .logo 
    {
        display:inline-block;
        
        svg 
        {
            @include transition;
            path 
            {
                @include transition;
            }
        }
    }
    .logo:hover 
    {
        svg 
        {
            transform:rotate(360deg);
        }
        svg path 
        {
            fill:$brightPink;
        }
    }
    .btn 
    {
        padding-top:13px;
        padding-bottom:11px;
        padding-right:30px;
        font-size:16px;

        .diamond 
        {
            width:16px;
            height:16px;
            right:10px;
            svg 
            {
                width:100%;
                height:auto;
            }
        }
    }
}
// Define the keyframes animation
@keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    5%, 25% {
      opacity: 1;
    }
  }
  
  // Apply the animation to each path inside .flair using a loop
  .flair svg path {
    @include transition;
    opacity: 0; // Ensure paths are hidden by default
    animation: fadeInOut 2.625s linear infinite;
  }
  
  // Loop to generate nth-child selectors with different animation delays
  @for $i from 1 through 21 {
    .flair svg path:nth-child(#{$i}) {
      animation-delay: #{($i - 1) * 0.125s};
    }
  }
@media screen and (max-width:1568px)
{
    .container 
    {
        max-width:100%;
    }
}
@media screen and (min-width:1400px) and (max-width:1567px)
{
    h1 
    {
        font-size:100px;
    }
    h2 
    {
        font-size:50px;
        line-height:50px;
    }
    h3 
    {
        font-size:45px;
        line-height:1.0;
        letter-spacing:2.5px;
    }
    h4 
    {
        font-size:28px;
        line-height:1.2;
    }
}
@media screen and (min-width:1200px) and (max-width:1399px)
{
    h1 
    {
        font-size:100px;
    }
    h2 
    {
        font-size:50px;
        line-height:50px;
    }
    h3 
    {
        font-size:45px;
        line-height:1.0;
        letter-spacing:2.5px;
    }
    h4 
    {
        font-size:28px;
        line-height:1.2;
    }
}
@media screen and (min-width:1025px) and (max-width:1199px)
{
    h1 
    {
        font-size:80px;
    }
    h2 
    {
        font-size:46px;
    }
    h3 
    {
        font-size:40px;
        line-height:1.0;
        letter-spacing:2.5px;
    }
    h4 
    {
        font-size:24px;
        line-height:1.2;
    }
}
@media screen and (max-width:1024px)
{
    h1 
    {
        font-size:80px;
    }
    h2 
    {
        font-size:46px;
    }
    h3 
    {
        font-size:40px;
        line-height:1.0;
        letter-spacing:2.5px;
    }
    h4 
    {
        font-size:24px;
        line-height:1.2;
    }
}
@media screen and (max-width:768px)
{
    h1 
    {
        font-size:60px;
    }
    h2 
    {
        font-size:38px;
    }
    h3 
    {
        font-size:32px;
        line-height:1.0;
        letter-spacing:2.5px;
    }
    h4 
    {
        font-size:22px;
        line-height:1.2;
    }
}